body * {
  font-family: 'Poppins', sans-serif;
}

nav .navbar-brand {
  /* size for brand */
  font-size: xx-large;
}

.container {
  background: white;
  width: 800px;
  margin: 80px auto 0;
  box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
  padding: 50px;
}

h1 {
  margin: 0 0 30px;
  color: #475369;
}

.plugin-description {
  white-space: pre-wrap;
}

.plugin-output {
  white-space: pre-wrap;
}

ul:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #475268;
  text-align: center;
}

.field-name {
  font-weight: 500;
  min-width: 95px;
  display: inline-block;
}

.field-value {
  font-size: 0.9em;
}

.card-header.info {
  background-color: #0071b9;
}

.card-header.info a {
  color: black;
}

.card-header.low {
  background-color: #3fae49;
}

.card-header.low a {
  color: black;
}

.card-header.medium {
  background-color: #fdc431;
}

.card-header.medium a {
  color: black;
}

.card-header.high {
  background-color: #ee9336;
}

.card-header.high a {
  color: black;
}

.card-header.critical {
  background-color: #d43f3a;
}

.card-header.critical a {
  color: black;
}
