{% extends 'layout.jinja2' %}

{% block title %}
  Index
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h1>Main Header</h1>
{% endblock %}