{% extends 'layout.jinja2' %}

{% block title %}
  Index
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Local Scan Results</h1>
    <div class="card">
    <div class="card-body">
      {% for row in row_data %}
      <tr>
          {% for col, row_ in zip(column_names, row) %}
          <h4 class="card-title">{{row_}}</h4>
          {% endfor %}
      </tr>
      {% endfor %}
      <p class="card-text">
        Some quick example text to build on the card title
        and make up the bulk of the card's content.
      </p>
      <a href="#!" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endblock %}