{% extends 'layout.jinja2' %}

{% block title %}
  Index
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Scan Results</h1>
  <div>
    {% for host_info in hosts %}
      <div class="card">
        <div class="card-body">
          <tr>
            {% for host_ip in host_info %}
              <h4 class="card-title">{{host_ip}}</h4>
            {% endfor %}
          </tr>
          <p class="card-text">
            {% if os_cpe %}
              {% for output in os_cpe %}
                {% for os in output %}
                  {{ os }}
                {% endfor %}
              {% endfor %}
            {% else %}
              Plugin 45590 - Common Platform Enumeration (CPE) not found in scan results
            {% endif %}
          </p>
          <form method="POST" action="/">
            {{ form.csrf_token }}
            <div class="form-field">
            {{ form.hidden }}
            {% for host_ip in host_info %}
              <button type="submit" class="btn btn-primary" name="host" value={{host_ip}}>View Results</button>
            {% endfor %}
            </div>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}