{% extends 'layout.jinja2' %}

{% block title %}
  Log In
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
<div class="formwrapper">

  {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button
          type="button"
          class="close"
          data-dismiss="alert">
            x
          </button>
        {{ message }}
      </div>
    {% endfor %}

  <h2 class="title">Login</h2>

  <form method="POST" action="/login">
      {{ form.csrf_token }}

      <div class="form-field">
      {{ form.username.label }}
      {{ form.username(placeholder='Enter username') }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">
      {{ form.password.label }}
      {{ form.password(placeholder='Enter password') }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {{ form.submit }}
  </form>
  <div class="login-signup">
        <span>Don't have an account?</span>
        <a href="{{ url_for('auth_bp.register') }}">Register</a>
      </div>
</div>
</div>
{% endblock %}