{% extends 'layout.html' %}

{% block title %}
  Select Scan
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
  <div>
    <h1>Nessus Scans</h1>
    <h4>ID : Scan Name</h4>
    {% for key, value in scan_info.items() %}
      <h4>{{key}} : {{value}}</h4>
    {% endfor %}
  </div>
  <div class="formwrapper">

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
          <button
            type="button"
            class="close"
            data-dismiss="alert">
            x
          </button>
          {{ message }}
        </div>
      {% endfor %}

      <h2 class="title">Select Scan</h2>

      <form method="POST" action="/select_scan">
        {{ form.csrf_token }}
        <div class="form-field">
        {{ form.scan.label }}
        {{ form.scan(placeholder='Enter the scan ID') }}
        </div>
        {{ form.select }}
      </form>
  </div>
</div>
{% endblock %}